
@{
    ViewBag.Title = "ShowHome";
}

<center><h2>Welcome to Plan My Trip!!!<br /> To start booking, please login. <br />In case you do not have a login, please use the sign up link to register first.</h2></center>

